blockquote {
  font-size: 1.4em;
  width: auto;
  margin: 2.0em auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  color: #D5E4EA;
  padding: 1.2em 2.0em 1.2em 3.8em;
  border-left: 0.3em solid #006286;
  line-height: auto;
  position: relative;
}

blockquote::before {
  font-family: 'Roboto Condensed', sans-serif;
  content: "\201C";
  color: #006286;
  font-size: 4em;
  position: absolute;
  left: 0.1em;
  top: -0.1em;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #61686b;
  font-style: normal;
  margin-top: 1em;
  font-size: 0.8em;
}