.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;

  padding: 0 32px;
  background: #D5E4EA;
  border-bottom: 1px solid #001116;
  color: #001116;
  height: 36px;
  width: 100%;
  font-size: 0.8rem;
}

.header h1 {
  color: #001116 !important;
  font-size: 1rem;
  text-align: center;
}

.header > .links {
  display: flex;
}

.header > .links > * {
  display: flex;
}

.header > .links > * + * {
  margin-left: 5px;
}
