@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Condensed&display=swap');

*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: 'Roboto Condensed', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  margin-top: 36px;
}

name {
  font-size: 2.0em;
  text-align: center;
  margin: 0.1em;
}

h1 {
  text-align: center;
  font-size: 2.0em;
  text-align: justify;
  color: azure;
  margin: 0.1em;
}

h2 {
  text-align: center;
  font-size: 1.4em;
  text-align: justify;
  color: azure;
  margin: 0.1em;
}


h4,
p {
  text-align: center;
  font-size: 1.2em;
  text-align: justify;
  color: azure;
  margin: 0.1em;
}

.citation {
  font-size: 1.1em;
  color: azure;
  margin: 0.5em;
  font-style: italic;
  text-align: left;
}


.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;

}

a svg {
  width: 2em;
  height: 2em;
  stroke: currentColor;
  fill: #232323;
  stroke-width: 0%;
  margin: 0.2em;
}

a {
  transition: color 150ms ease-in;
  text-decoration: none;
}

a:hover {
  color: #006286;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 32px;
  background: azure;
  border-bottom: 1px solid #232323;
  color: #232323;
  height: 36px;
  width: 100%;
  font-size: 12px;
}

.header h1 {
  text-transform: uppercase;
  font-size: 14px;
}

.links>*:hover svg {
  fill: #006286;
  transition: fill 250ms ease-in;
}


blockquote {
  margin: 1.5em 0 1.5em;
  padding: 0 1em 0 2.5em;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
  color: azure
}

blockquote:before {
  color: azure;
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: 5px;
  top: 0.3em;
  line-height: 0.1em;
}

blockquote:after {
  color: azure;
  content: "\201D";
  font-size: 5em;
  position: absolute;
  right: 3px;
  bottom: 0em;
  line-height: 0.1em;
}