.gridMenu {
  display: grid;
  min-height: calc(100vh - 36px);
  min-width: 100vw;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}

.gridMenu>* {
  color: #232323;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Fjalla One', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;

  transition: color 250ms ease-in;
}

.gridMenu>*:nth-child(2),
.gridMenu>*:nth-child(3) {
  background-color: #232323;
  color: azure;
}

.gridMenu>*:hover {
  color: lime;
}

.footer {
  grid-column: 1/2;
  grid-row: 3;
  align-items: left;
  color: azure;
}